<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{getCurrentYear "The Year is"}}</h1>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae amet cupiditate iusto hic laboriosam laudantium molestias eaque sunt tempore ullam! Optio aspernatur modi voluptatum unde fuga nulla magni quaerat a?</p>
    {{> footer}}
</body>
</html>